$font-family: "Manrope", sans-serif;

$gradient-text: linear-gradient(89.97deg #182825, 1.8% #181d27);
$gradient-text-1: radial-gradient(
  circle at 40% 50%,
  rgba(238, 130, 238, 1) 19%,
  rgba(255, 250, 226, 1) 50%
);

$color-background: #040c18;
$color-cream: #232c33;
$color-dark-green: #0a210f;
$white-color: #fff;

$color-cornsilk: #fffae2;

$text-color: #112a46;
$text-color-hover: #9893da;
$text-color-2: #d4f5f5;

$underline-color: #a9c5a0;

$navbar-color: #424242;
$navbar-color-1: #1a1b25;

$color-eerie-black: #252627;

$button-color: #807d71;
$button-hover: #0d1321;
$button-hover-2: #312f2f;

$icon-hover-color: #31081f;

$input-color: #3d6184;
$input-background-color: #052d56;

$orange-button-color: #ff4820;
